<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

   <!-- <springProfile name="tomcat">-->
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/home/logs/logFile.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/home/logs/logFile.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <totalSizeCap>20GB</totalSizeCap>
                <maxHistory>3</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
            </encoder>
        </appender>
   <!-- </springProfile>-->

<!--    <springProfile name="docker">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/var/log/logFile.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/var/log/logFile.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>3</maxHistory>
                <maxFileSize>10MB</maxFileSize>
                <totalSizeCap>20GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>-->

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>